tensorflow
pandoc
vowpalwabbit
seaborn
sexmachine 
deap 
tpot 
git+https://github.com/ioam/geoviews.git 
python-dateutil
dask
pytagcloud
pyyaml
ggplot
joblib
husl
geopy 
ml_metrics
mne
pyshp
gensim
textblob
git+git://github.com/amueller/word_cloud.git
python-igraph
stop-words
chainer
mpld3
mplleaflet
gpxpy
arrow
Geohash
haversine
toolz 
cytoolz
biopython
pudb
cvxopt
line_profiler
orderedmultidict
smhasher
graphviz
fiona
geopandas
pyshp
pyproj
Pillow
ibis-framework
packaging
sacred
plotly
git+https://github.com/nicta/dora.git
git+https://github.com/hyperopt/hyperopt.git
git+https://github.com/tflearn/tflearn.git
fitter
langid
delorean
trueskill
heamy
vida
missingno
pandas-profiling
s2sphere
git+https://github.com/fmfn/BayesianOptimization.git
matplotlib-venn
pyldavis
git+git://github.com/rasbt/mlxtend.git#egg=mlxtend
altair
pystan
ImageHash
git+https://github.com/hammerlab/fancyimpute.git
git+https://github.com/pymc-devs/pymc3
tifffile
spectral
descartes
geojson
pysal
pyflux
terminalplot
raccoon
pydicom
wavio
SimpleITK
hmmlearn
bayespy
gplearn
PyAstronomy
squarify
fuzzywuzzy
python-louvain
pyexcel-ods
sklearn-pandas
stemming
hypertools
nxviz
py_stringsimjoin
speedml
nibabel
mlens
scikit-multilearn
